<h1> <%= @lesson.class_num %>.<%= @lesson.sub_class_num %> <%= @lesson.name %></h1>
<div class="center-video">
<iframe width="560" height="315" src= "https://www.youtube.com/embed/6E2hYDIFDIU" frameborder="1" allowfullscreen></iframe>
</div>
<% example_number=1 %>
<% word_number=1 %>
<% if !@lesson.words.nil? %>
  <div class="accordion" id="accordion-words">
  <%  @lesson.words.each do |word| %>
    <% collapse_num="collapse_#{word_number}" %>
    <% href_collapse="#collapse_#{word_number}" %>

      <div class="accordion-group">
        <div class="accordion-heading">
          <ul class="rlist"><li>  
            <a class="accordion-toggle" data-toggle="collapse" data-target=#<%=collapse_num%> href=<%=href_collapse%>>
               <%=word.hebrew %> <%= link_to "edit word",edit_word_path(word) %>,
               <%= link_to "delete word", word, method: :delete,
               data: { confirm: "You sure?" } %>
              </a>
          </li></ul> 
        </div>
        <% if word_number==1 %>
          <div id=<%=collapse_num%> class="collapse in">
        <% else %>
           <div id=<%=collapse_num%> class="collapse">
        <% end %>

          <div class="accordion-inner">
            <ul class="rlist">  
            <% @languages.each do |lan| %> 
              <%lan_word="#{lan}" %>        
               <li><%=lan%>:  <%=word.read_attribute(lan_word) %>  </li>
             <% end %>
             </ul>
          </div>
        </div>
      </div>
       <% word_number=word_number+1 %>
    <% end %>    
    </div>

 <% else %>
    <ul class="rlist">           
      <li> no lessons yet </li>
    </ul>

  <% end %>  
   <ul class="rlist">             
  <li>  <%= link_to "create new word",new_word_path(:lesson_id => @lesson.id) %></li>
</ul>


  <% if !@lesson.examples.nil? %>
    <h3> Examples </h3>
    <div class="accordion" id="accordion-examples">    
      <%  @lesson.examples.each do |example| %>
        <% example_number=example_number+1 %>
        <% collapse_num="collapse2_#{example_number}" %>
        <% href_collapse="#collapse2_#{example_number}" %>
        <div class="accordion-group">
          <div class="accordion-heading">
            <ul class="rlist"><li> 
              <a class="accordion-toggle" data-toggle="collapse" data-target=#<%=collapse_num%> href=<%=href_collapse%>>
                <%=example.hebrew_sentence %> <%= link_to "edit example",edit_example_path(example) %>,
                <%= link_to "delete exampke", example, method: :delete,
                data: { confirm: "You sure?" } %>
              </a>
            </li></ul>
          </div>
          <div id=<%=collapse_num%> class="collapse">
            <div class="accordion-inner">
              <ul class="rlist">      
                <% @languages.each do |lan| %>    
                  <%lan_sen="#{lan}_sentence" %>
                  <li><%=lan%>:  <%=example.read_attribute(lan_sen) %>  </li>
                 <% end %>
              </ul>
            </div>
          </div>
        </div>
       <% example_number=example_number+1 %>
    <% end %>    
    </div>
  <% else %>
    <ul class="rlist">           
      <li> no lessons yet </li>
    </ul>
  <% end %>   
   <ul class="rlist">             
     <li>  <%= link_to "create new example",new_example_path(:lesson_id => @lesson.id) %></li>
  </ul>

